.spot-list-container {
    /* display: grid;
    gap: 16px; 
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 16px;  */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    /* gap: 25px; */
    padding-top: 20px;
    padding-bottom: 20px;
    /* border: 1px solid black; */
  }

  @media (min-width: 800px) {
    .spot-list-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 1200px) {
    .spot-list-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (min-width: 1440px) {
    .spot-list-container {
      grid-template-columns: repeat(4, 1fr);
    }
  }