img {
    /* border: 1px solid black;
    width: 100%;
  height: auto;
  display: block; */
}
.spot-tile-container {
    border: 1px solid black;
    /* height: 200px;
    width: 150px; */
    display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s;
  cursor: pointer;
  height: 298px;
  width: 298px;
}

.spot-tile-container img {
    width: 100%;
    height: auto;
    display: block;
  }

  .spot-tile-content {
    padding: 16px;
    background-color: #fff;
  }

  .spot-tile-container:hover {
    transform: scale(1.02);
  }