/* TODO: Add sitewide styles */
body {
    margin: 0px;
    font-family: 'Arial', 'Helvetica', sans-serif;
}
.whole-display {
    display: flex;
    flex-direction: column;
    min-height: 100vh
}
.top-container {
    border: 1px solid black;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.airbnb-logo {
    height: 50px;
}
.navigation {
    height: 70px;
    margin-right: 20px;
}
.content-container {
    border: 1px solid black;
    padding-left: 70px;
    padding-right: 70px;
    flex: 1; 
    overflow: auto; 
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
}